<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" type="imagex/png" href="../static/img/icone3.ico">
    <title>Hormesis Calestenia</title>
    

</head>

<body>
    
    <header class="menu-principal">
        <main >
            <div class="header-1">
                
                <div class="logo">
                    <img src="../static/img/logo-horizontal.png" alt="logo-horizontal">
                </div>

                <div class="redes-sociais">
                    <ul>
                        <li><a href=""> <i class="bi bi-facebook"></i></a></li>
                        <li><a href=""> <img src="../img/twitter.png" alt="twitter"></a></li>
                        <li><a href="https://www.instagram.com/hormesiscalistenia/"> <img src="../static/img/instagram.png" alt="instagram"></a></li>
                    </ul>

                </div>
            </div>
        </main>
    </header>
        <main class="coluna-100 menu-urls">
            <div class="header-2">
                <div class="menu">
                    <ul>        
                        <li><a href="">Home</a></li>
                        <li><a href="">Sobre a Hormesis</a></li>
                        <li><a href="">Serviços</a></li>
                        <li><a href="">Professores</a></li>
                        <li><a href="">Novidades</a></li>
                        <li><a href="">Contato</a></li>
                    </ul>
                </div>
                <div class="busca">
                    <input type="text">
                
                </div>
            </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>

</html>